.wrapper {
  width: 400px;
}

.rt-Box > .rt-Separator:where(.rt-r-orientation-horizontal) {
  height: calc(1px * 0.5);
}

.color-picker.react-colorful {
  width: 100%;
  height: 150px;
}

.color-picker .react-colorful__saturation {
  border-radius: var(--radius-1) var(--radius-1) 0 0;
}

.color-picker .react-colorful__hue {
  height: 12px;
  border-radius: 0 0 var(--radius-1) var(--radius-1);
}

.color-picker .react-colorful__saturation-pointer,
.color-picker .react-colorful__hue-pointer {
  width: 14px;
  height: 14px;
}
